body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03rem;
}
/* reset */

h1, h2, h3, h4, h5, h6, p, button{
    margin: 0;
	padding: 0;
	border: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* reset */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    
.header{
    border-bottom: #ECECEC solid 1px;
}

.main-nav{
    display: flex;
    align-items: center;
    flex-direction: row;;
} 

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #000;
    vertical-align: middle;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 26px;
} 

.current{
    color:#2196F3;
}

.navigation{
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

.navigation-button{
    display: block; 
    font-weight: 500;
    color: #212121;
    position: relative;
}

.current::after{
    content:'';
    display: block;
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.contact{
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.email, .tel {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
}

.contact-info{
    display: flex;
}

.email-icon, .tel-icon{
   margin-right: 10px;
   fill: currentColor;
}

.contact a {color: #757575; font-weight: 500;}
header a:hover {color: #2196F3; fill: #2196F3;}
a:hover.logo{color: #000;}


.main-banner{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.overlay{
    max-width: 1600px;
    margin-left: auto;
    margin-right:auto; 
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/hero_background.jpg');
    background-size: cover;
    background-position: center, 50% 40%;
    background-repeat: no-repeat;
    background-color: #C4C4C4;
}


.main-title{
    color: #FFF;
    font-size: 44px;
    letter-spacing: 0.06rem;
    line-height: 1.36;
    align-self: center;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.main-button{
    font-weight: 700;
    letter-spacing: 0.03rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    line-height: 1.875;
    padding: 10px 32px;
}

.description-facts{
    display: flex;
    gap: 30px;
}

.description-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.description-fact{
    color: #212121;
    width: 270px;
}


.description-text{
    margin-top: 10px;
    color: #757575;
    line-height: 1.72;
}
.what-we-do{
    padding-top: 0;
}

.what-we-do-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.what-we-do-images{
    display: flex;
    gap: 30px;
}

.what-we-do-image{
    position: relative;
}

.what-we-do-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    width: 370px;
    height: 70px;
    color: #fff;
}

.team{
    width: 100%;
    background-color: #F5F4FA;
}

.team-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.team-info-columns{
    display: flex;
    gap: 30px;
}

.team-info{
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-info-content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-description-title{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.team-description-text{
    color: #757575;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: 9px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.icon{
    display: flex;
    color: #AFB1B8;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.icon:hover, .icon:focus{
    color: #fff;
    background-color: #2196F3;
}

.social-icon{
    fill: currentColor;
}


.our-clients-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    gap: 30px;
}

.client{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.client:hover, .client:focus{
    color: #2196F3;
    border-color: #2196F3;
}

.client-icon{
    fill: currentColor;
} 

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container{
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.footer-address{
    margin-top: 20px;
    line-height: 1.714;
}

.address{
    color:#fff;
}

.social-links-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.14;
}

.footer-icons{
    display: flex;
    gap: 10px;
    padding: 0;
}

.footer-icon{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-icon:hover{
    display: inline-block;
    color: #fff;
    background: #2196F3;
    border-radius: 50px;
    height: 44px;
}

.portfolio{
    background-color: #fff;
}
.portfolio-buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.portfolio-button{
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    vertical-align: middle;
    background-color:#F5F4FA; 
    border-radius: 4px; 
    border: none;
    padding: 6px 22px;
}

.portfolio-button:hover, .portfolio-button:focus{
    background-color: #2196F3;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.card{
    width: 370px;
    background-color: #fff;
    border: 1px solid #EEEEEE;
}

.card:hover, .card:focus{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content{
    border: #eee solid 1px;
    border-top: none;
    padding: 22px 20px 24px 20px;
    margin-top: -2px;
}

.portfolio-title{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.portfolio-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    margin-top: 4px;
}

.image-overlay{
    position: relative;
    overflow: hidden;
}
.card:hover .overlay-card {
  transform: translateY(0);
}

.overlay-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms ease;
}

.overlay-text {
    color: #fff;
    font-size: 12px;
    padding: 63px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
}

.backdrop{
    visibility: visible; 
    opacity: 100%;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden{
    visibility: hidden; 
    opacity: 0;
    pointer-events: none;
}

.modal-form{
    background-color: #FFFFFF;
    width: 528px;
    height: 581px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 221px;
    margin-bottom: 222px;
}


.close-btn{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    fill: #000;
}

.close-icon{
    fill: currentColor;
}