.main-banner{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.overlay{
    max-width: 1600px;
    margin-left: auto;
    margin-right:auto; 
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/hero_background.jpg');
    background-size: cover;
    background-position: center, 50% 40%;
    background-repeat: no-repeat;
    background-color: #C4C4C4;
}


.main-banner__title{
    color: #FFF;
    font-size: 26px;
    letter-spacing: 0.06rem;
    line-height: 1.36;
    align-self: center;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px){
    width: 360px}

    @media screen and (min-width: 1200px){
    font-size: 44px;
    width: 696px;}
}

.main-banner__button{
    font-weight: 700;
    letter-spacing: 0.03rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    line-height: 1.875;
    padding: 10px 32px;
}