.subscribe{
    margin-left: auto;
}
.subscribe__title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.14;
}

.subscribe__form-field{
    display: flex;
    align-items: center;
    gap: 12px;
}

.subscribe__field-input{
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.subscribe__button{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #fff;
    cursor: pointer;
}

.subscribe__icon{
    fill: currentColor;
}